{% extends './base.html.twig' %}

{% block main %}
	<!-- Begin Register Content Area -->
	<div class="page-section mb-60">
		<div class="container">
			<div
				class="row">
				<!-- Begin Li Banner Area -->
				<div class="col-lg-4 col-md-4 text-center pt-xs-30">
					<div class="li-banner">
						<a href="#">
							<img src="{{asset('layout/images/banner/1_1.jpg')}}" alt="">
						</a>
					</div>
					<div class="li-banner mt-15 mt-sm-30 mt-xs-30">
						<a href="#">
							<img src="{{asset('layout/images/banner/1_2.jpg')}}" alt="">
						</a>
					</div>
				</div>
				<!-- Li Banner Area End Here -->
				<div class="col-sm-12 col-md-8 col-lg-8 col-xs-12">
					<form action="{{path('user_register')}}" method="POST">
						<div class="login-form">
							<h4 class="login-title">Register</h4>
							<div class="row">
								<div class="col-md-6 col-12 mb-20">
									<label>First Name</label>
									<input class="mb-0" type="text" name="first_name" placeholder="First Name">
								</div>
								<div class="col-md-6 col-12 mb-20">
									<label>Last Name</label>
									<input class="mb-0" type="text" name="last_name" placeholder="Last Name">
								</div>
								<div class="col-md-12 mb-20">
									<label>Email Address*</label>
									<input class="mb-0" type="email" name="email" placeholder="Email Address">
								</div>
								<div class="col-md-6 mb-20">
									<label>Password</label>
									<input class="mb-0" type="password" name="password" placeholder="Password">
								</div>
								<div class="col-md-6 mb-20">
									<label>Confirm Password</label>
									<input class="mb-0" type="password" name="confirm" placeholder="Confirm Password">
								</div>
								<div class="col-12">
									<button class="register-button mt-0">Register</button>
								</div>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
	<!-- Login Content Area End Here -->
{% endblock %}
