{% extends 'base.html.twig' %}
{% block main %}
<div class="container">
    <div class="mt-4 p-4 bg-danger text-white rounded">
        <h2>Oops</h2>
        <p>Thanks for trying. Something went wrong with your bank. Try another time...</p>
</div>
{% endblock %}