{% extends 'base.html.twig' %}
{% block main %}
<div class="container">
    <div class="mt-4 p-4 bg-success text-white rounded">
        <h2>Success</h2>
        <h4>Your email : {{customer_email}}</h4>
        <br>
        <h6>Order id : {{order_id}}<h6>
        <p>Good news. Your payment has succeded, you will receive soon a confirmation mail containing
        the order and shippment details...</p>
</div>
{% endblock %}